extends layout

block content

	form.form-horizontal(action='#{bookmark._id}', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group
			label.col-sm-3.control-label(for='bookmark') Bookmark name (optional):
			.col-sm-7
				input.form-control(type='text', name='name', id='name', value='#{bookmark.name}')
		.form-group
			label.col-sm-3.control-label(for='bookmark') Bookmark URL:
			.col-sm-7
				input.form-control(type='text', name='url', id='url', value='#{bookmark.url}')
		.form-group
			label.col-sm-3.control-label(for='bookmark') Bookmark title:
			.col-sm-7
				input.form-control(type='text', name='title', id='title', value='#{bookmark.title}')
		.form-group
			.col-sm-offset-3.col-sm-4
				button.btn.btn-primary(type='submit')
					| Edit bookmark
