extends layout

block content

	.page-header
		h2 #{profile.username}'s bookmarks

	table.table.table-condensed
		thead
			tr
				th Name
				th Edit
		tbody
			each bookmark in profile.bookmarks
				tr
					td
						a(href=bookmark.url) #{bookmark.name}
					td
						a(href='/' + profile.username + '/' + bookmark._id) Edit

	if user
		if profile._id = user._id
			.page-header
			h3 Add a new bookmark

			form.form-horizontal(action='/' + profile.username + '/add', method='POST')
				input(type='hidden', name='_csrf', value=_csrf)
				.form-group
					label.col-sm-3.control-label(for='bookmark') Bookmark name (optional):
					.col-sm-7
						input.form-control(type='text', name='name', id='name')
				.form-group
					label.col-sm-3.control-label(for='bookmark') Bookmark URL:
					.col-sm-7
						input.form-control(type='text', name='url', id='url')
				.form-group
					.col-sm-offset-3.col-sm-4
						button.btn.btn-primary(type='submit')
							| Add new bookmark
		else
			p I am NOT #{profile.username}!
	else
		p I am not logged in!
